# Arquivos de log
*.log

# Arquivos de log de crash da VM
hs_err_pid*
replay_pid*

# Pasta de build principal do Maven
# ESTA É A LINHA MAIS IMPORTANTE!
target/

# Arquivos do Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Configurações de IDE
.idea/
*.iml
.classpath
.project
.settings/

# Arquivos do VS Code
.vscode/

# Arquivos de sistema (macOS/Windows)
.DS_Store
Thumbs.db